@import "compass/reset";
@import "compass/css3";

body{
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;

  section.wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 640px;
    height: 100%;
    min-height: 680px;

    z-index: 1000;
    background: rgba(0, 0, 0, .6);

    @include transition(opacity 0.35s ease-out);
    opacity: 1;


    &.display_none{
      opacity: 0;
    }

    div.content{
      margin: 60px auto;
      width: 640px;
      color: #ffffff;
      text-shadow: 1px -1px 0 rgba(0,0,0,1);;

      dd.head{
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        line-height: 1.8em;

        border-bottom: 1px solid rgba(0, 0, 0, .8);
        @include box-shadow(rgba(255, 255, 255, .1)0 1px 0);
        margin-bottom: 10px;
      }

      dd.social{
        font-size: 11px;
        margin-bottom: 5px;
        margin-bottom: 40px;

        a{

          color: #ffffff;

          @include transition(color 0.35s ease-out);
          &:hover{
            color: #E74C3C;
          }
        }
      }

      div.youtube{
        margin-bottom: 20px;
      }

      dd.caption{
        font-size: 11px;
        line-height: 2em;
        margin-bottom: 5px;

        a{
          color: #ffffff;
          @include transition(color 0.35s ease-out);

          &:hover{
            color: #E74C3C;
          }
        }
      }

      div#remove{
        text-align: center;
        font-size: 48px;

        i{
          @include transition(color 0.35s ease-out);

          &:hover{
            cursor: pointer;
            color: #E74C3C;
          }
        }

      }

    }
  }


}