/*
Syntax error: Invalid US-ASCII character "\xE3"
        on line 5 of style.scss

1: @import "compass/reset";
2: @import "compass/css3";
3: 
4: body{
5:   font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
6: 
7:   section.wrapper{
8:     position: absolute;
9:     top: 0;
10:     left: 0;

Backtrace:
style.scss:5
/Users/kenjisaito/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/engine.rb:373:in `block in check_encoding!'
/Users/kenjisaito/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/util.rb:550:in `rescue in block in check_encoding'
/Users/kenjisaito/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/util.rb:547:in `block in check_encoding'
/Users/kenjisaito/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/util.rb:546:in `each'
/Users/kenjisaito/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/util.rb:546:in `each_with_index'
/Users/kenjisaito/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/util.rb:546:in `check_encoding'
/Users/kenjisaito/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/util.rb:600:in `check_sass_encoding'
/Users/kenjisaito/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/engine.rb:372:in `check_encoding!'
/Users/kenjisaito/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/engine.rb:339:in `_to_tree'
/Users/kenjisaito/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/engine.rb:315:in `_render'
/Users/kenjisaito/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/engine.rb:262:in `render'
/Users/kenjisaito/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:341:in `update_stylesheet'
/Users/kenjisaito/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Users/kenjisaito/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:201:in `each'
/Users/kenjisaito/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/kenjisaito/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/kenjisaito/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/exec.rb:424:in `watch_or_update'
/Users/kenjisaito/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/exec.rb:307:in `process_result'
/Users/kenjisaito/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/exec.rb:41:in `parse'
/Users/kenjisaito/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.2.5/lib/sass/exec.rb:21:in `parse!'
/Users/kenjisaito/.rbenv/versions/1.9.3-p194/lib/ruby/gems/1.9.1/gems/sass-3.2.5/bin/scss:8:in `<top (required)>'
/Users/kenjisaito/.rbenv/versions/1.9.3-p194/bin/scss:23:in `load'
/Users/kenjisaito/.rbenv/versions/1.9.3-p194/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid US-ASCII character \"\xE3\"\A         on line 5 of style.scss\A \A 1: @import \"compass/reset\";\A 2: @import \"compass/css3\";\A 3: \A 4: body{\A 5:   font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;\A 6: \A 7:   section.wrapper{\A 8:     position: absolute;\A 9:     top: 0;\A 10:     left: 0;"; }
